body {
    background-color: lightgray;

  }

footer {
    background-color: gray;
    height: 40px;
    text-align: center;
    margin-top: 50px; 
}
#footer_text{
    text-align: center;
    color: white;
    font-size: 12px;
}

.row {
    background-color: white;

}
#explanation{
    
}